html{
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::befor,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--color_Night);
    color: var(--color_White);
    font-family: var(--Open_Sans);
}