:root{
    // Colors 
 --color_limegreen: #1db489;
 --color_brightred: #dc414c;
 --color_Facebook: #198ff5;
 --color_Twitter: #1ca0f2;
 --color_Instagram_start: #fdc468;
 --color_Instagram_end: #df4996;
 --color_YouTube: #c4032a;
 
/* all the wedsite colors */
 --color_Red-NCS:#AF1D34;
 --color_Raisin_black:#212027;
 --color_Night:#121115;
 --color_Timberwolf:#DED4D1;
 --color_Raisin_black_2:#292834;
 --color_White:#FDFDFD;
 --color_Dark_goldenrod:#A07F18;
 --color_taupe_gray:#9D9BA1;
 --color_Anti-flash_white:#F0F1F1;
}
